.App {
  text-align: center;
}

.sections{
  margin-top: 50px;
  
}
ul{
  list-style: none;
  padding:0px;
}
a{
  text-decoration: none;
  color: inherit; 
}
a:hover{
  color: white !important;
  text-decoration: none !important;
}
a:focus{
  color: white !important;
  text-decoration: none !important;
}